{% extends 'user/base.html' %}


{% block head %}
    <title>Request Password Reset</title>
{% endblock %}
{% block content %}
    {% for field in form %}
        <div class="form-group">
            <!-- Label -->
            {{field.label_tag}}
            <!-- Error -->
            {% for error in field.error %}
                <p class="text-danger small m-auto">{{ error }}</p>
            {% endfor %}
            <!-- Input Field -->
            {{field}}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-block" value="Request Password Reset">
{% endblock %}
{% block javascript %}
    <script>
        // A function that runs when the pages loads
        let init = () => {
            $('#id_email').attr('class','form-control');
        }
        init() // Invoke function
        
    </script>
{% endblock %}