{% extends 'user/base.html' %}


{% block head %}
    <title>Reset Password</title>
{% endblock %}
{% block content %}
   <p class="text-muted small">New password must be at least 8 characters long, they can contain numbers, symbols etc, they can't be entirely numeric.</p>
    {% for field in form %}
        <div class="form-group">
            <!-- Label -->
            {{field.label_tag}}
            <!-- Error -->
            {% for error in field.errors %}
                <p class="text-danger small m-auto">{{ error }}</p>
            {% endfor %}
            <!-- Input Field -->
            {{field}}
        </div>
        
    {% endfor %}
    <input type="submit" class="btn btn-block" value="Reset Password">
{% endblock %}
{% block javascript %}
    <script>
        // A function that runs when the pages loads
        let init = () => {
            $('#id_new_password1, #id_new_password2').attr('class','form-control');
        }
        init() // Invoke function
        
    </script>
{% endblock %}