{% extends 'app/base.html' %}
{% load static %}


{% block head %}
    <title>{{object.name}}</title>
    <style>
        #images{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            border-top: thin solid white;
        }
        #images img:first-child{
            opacity: 1;
        }
        #images img{
            opacity: 0.7;
            border: thin solid white;
            cursor: pointer;
        }
        /* Schedule Tour */
        .schedule-tour{
            color: white;
            background: #58a710;
            border: thin solid #58a710;
            transition: all .2s ease-in-out;
            border-radius: 10px 0px;
        }
        .schedule-tour:hover{
            color: #58a710;
            background: white;
        }
        /* Other Properties */
        .prop > a:hover{
            text-decoration: none;
            transition: all .3s ease-in-out;
        }
        .prop{
            position: relative;
        }
        .prop:hover{
            box-shadow: rgb(209, 209, 213) 0px 5px 15px;
        }
        .category{
            position: absolute;
            top: 5px;
            left: 5px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block content %}
   <!-- Notification -->
   <div id="notification" style=" width: calc(100% - 40px);transition: all .5s ease-in-out;margin-left: 20px; position: fixed; top: -100px; z-index: 4;" class = 'alert alert-info'>
       <h4 class="alert-heading">
           Notification
       </h4><hr/>
       <p></p>
   </div>
    <div class="container-lg" style="margin-top: 150px;">
        <div class="row">
           <!-- Property Images -->
            <div class="col-md-7" style="position: relative;">
              <span style="position: absolute;font-size: 16px; top: 50px;left: 25px;padding: 5px;" class="badge badge-danger">{{ object.category }}</span>
               <h4 style = 'color: #333333'>{{object.name}}</h4>
                <img style="border-radius: 10px 10px 0px 0px" id="main-image" height="400px" width="100%" src="{{object.image1.url}}" alt="">
                <div id="images">
                    {% for img in object.active_images %}
                        <img src="{{img.url}}" width="100%" alt="">
                    {% endfor %}
                </div>
            </div>
            <!-- Map -->
            <div class="col-md-5 mt-3 mt-md-0">
                <h4 style="color: #333333">Map</h4>
            </div>
            <div class="col-12">
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-sm-4 text-center border-right">
                            <p style="font-size: 18px;font-weight: 500;" class="text-muted m-auto">Price</p>
                            <p style="font-size: 25px;font-weight: 500; color:#58a710 ">GHC {{ object.price }}</p>
                        </div>
                        <div class="col-sm-4 text-center border-right">
                            <p style="font-size: 18px;font-weight: 500;" class="text-muted m-auto">Location</p>
                            <p style="font-size: 25px;font-weight: 500; color:#58a710 ">{{ object.town_or_city }}-{{ object.state_or_region }}</p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p style="font-size: 18px;font-weight: 500;" class="text-muted m-auto">Size</p>
                            <p style="font-size: 25px;font-weight: 500; color:#58a710 ">{{ object.size }}Sq. Ft.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Interior Features -->
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="card h-100 mt-3">
                    <div class="card-header text-light text-center" style="background: #58a710">Interior Features</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-auto text-info">Bedroom{{object.interiorfeatures.bedroom|pluralize}}: <span class="text-dark">{{object.interiorfeatures.bedroom}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Bathroom{{object.interiorfeatures.bathroom|pluralize}}: <span class="text-dark">{{object.interiorfeatures.bathroom}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Kitchen{{object.interiorfeatures.kitchen|pluralize}}: <span class="text-dark">{{object.interiorfeatures.kitchen}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Reception{{object.interiorfeatures.reception|pluralize}}: <span class="text-dark">{{object.interiorfeatures.reception}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exterior Features -->
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="card h-100 mt-3">
                    <div class="card-header text-light text-center" style="background: #58a710">Exterior Features</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p class="m-auto text-info">Garage{{object.exteriorfeatures.garage|pluralize}}: <span class="text-dark">{{object.exteriorfeatures.garage}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Parking{{object.exteriorfeatures.parking|pluralize}}: <span class="text-dark">{{object.exteriorfeatures.parking}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Security: <span class="text-dark">{{object.exteriorfeatures.security}}</span></p>
                            </div>
                            <div class="col-6">
                                <p class="m-auto text-info">Pool: <span class="text-dark">{{object.exteriorfeatures.pool}}</span></p>
                            </div>
                            <div class="col-12">
                                <p class="m-auto text-info">Domestic Accomodation{{object.exteriorfeatures.domestic_accomodation|pluralize}}: <span class="text-dark">{{object.exteriorfeatures.domestic_accomodation}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if object.extras %}
                <!-- Extras -->
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-header text-light text-center" style="background: #58a710">Extras</div>
                        <div class="card-body">
                            <ul>
                                {% for extra in object.formatted_extras %}
                                    <li>{{extra}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Tour -->
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-light text-center" style="background: #58a710">Schedule Tour</div>
                    <div class="card-body">
                       <div class="row">
                           <div class="col-8">
                               <label for="">Date</label>
                                <input type="date" class="form-control">
                           </div>
                           <div class="col-4">
                              <label>Time</label>
                               <input type="time" class = 'form-control'>
                           </div>
                       </div>
                        <button class="btn btn-block mt-2 schedule-tour">Schedule Tour</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other Properties -->
        {% if props %}
            <h5 style="color: #58a710;border-bottom: thick solid #58a710;display: inline-block;margin-top: 20px;">Other Properties</h5>
            <div class="row">
                {% for prop in props %}
                    <div class="col-6 col-md-3">
                        <div class="card prop">
                          <span class="category badge badge-danger">{{ prop.category }}</span>
                           <a href="{% url 'app:properties_detail' prop.pk %}">
                               <img style = 'height: 250px;' src="{{ prop.image1.url }}" class="card-img-top" alt="">
                                <div class="card-body p-2">
                                    <p class="text-dark m-auto" style="font-size: 20px;font-weight: 500;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{prop.name}}</p>
                                    <p style="font-size: 18px;font-weight: 500;" class="text-muted m-auto">GHC {{ prop.price }}</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-auto text-dark" style = 'font-size:14px;'>Bedroom: {{prop.bedroom}}</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-auto text-dark" style = 'font-size:14px;'>Bathroom: {{prop.bathroom}}</p>
                                        </div>
                                        <div class="col-sm-12">
                                            <p class="m-auto text-dark" style = 'font-size:14px;'>Size: {{prop.size}}Sq. Ft.</p>
                                        </div>
                                        <div class="col-sm-12">
                                            <p class="m-auto text-dark" style = 'font-size:14px;'>Location: {{ prop.town_or_city }}-{{prop.state_or_region}}</p>
                                        </div>
                                    </div>
                                </div>
                           </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tourModal" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-light" style="background: #58a710;">
            <h5 class="modal-title" id="tourModalLabel">Schedule Tour</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color: white;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        // A function that changes the image when a user selects it
        let showImage = () => {
            let imageIndex = 0;
            $("#images > img").click(function(){
                $("#images > img").eq(imageIndex).css('opacity','0.7');
                imgUrl = $(this).attr('src');
                $(this).css('opacity','1');
                $("#main-image").attr('src',imgUrl);
                imageIndex = $("#images > img").index($(this));
            });
        }
        showImage()
        
        // A function that shecdules a tour for a user
        let scheduleTour = (propId) => {
            let scheduleButtonCalled = false;
            
            // A function that submits the information for a tour to be created
            let submitTourInfo = (isLoggedIn,propId,date,time) => {
                console.log('Hmmm')
                let mobileNumberRegex = /^[\d\+][\d\s]+$/;
                $('#submit-tour-details').click(function(){
                    let data = undefined; // Will contain tours details
                    if(isLoggedIn){
                        let mobileNumber = $('#mobile-number').val();
                        let name = $('#name').val();
                        if(name && mobileNumberRegex.test(mobileNumber)){
                            console.log(mobileNumber);
                            data  = {
                                'message':'create',
                                mobileNumber,
                                propId,
                                date,
                                time
                            };
                            //  An ajax request that will create the schedule with the needed details
                            $.ajax({
                                url: "{% url 'app:create_schedule' %}",
                                data: data,
                                dataType: 'json',
                                success: function(){
                                    alert("Done")
                                }
                            });
                        }
                        else{
                            $('#modal-error').text('Enter a valid mobile number.');
                        }
                    }
                    else{
                        console.log("Nice")
                        let emailRegex = /^[a-zA-Z][a-zA-Z\d]+@[a-z]+\.[a-z]{2,5}(\.[a-z]{2,5})?$/;
                        let name = $('#name').val();
                        let email = $('#email').val();
                        let mobileNumber = $('#mobile-number').val();
                        if(name && emailRegex.test(email) && mobileNumberRegex.test(mobileNumber)){
                            console.log(name);
                            console.log(email);
                            console.log(mobileNumber);
                            data = {
                                'message':'create',
                                mobileNumber,
                                name,
                                email,
                                propId,
                                date,
                                time
                            };
                            //  An ajax request that will create the schedule with the needed details
                            $.ajax({
                                url: "{% url 'app:create_schedule' %}",
                                data: data,
                                dataType: 'json',
                                success: function(){
                                    alert("Done")
                                }
                            });
                        }
                        else{
                            $('#modal-error').text('Enter a valid email and mobile number.')
                        }
                    }
                });
            }
            
            $('.schedule-tour').first().click(function(){
                let date = $("input[type = 'date']").val();
                let time = $("input[type = 'time']").val();
                let previousDateTime = new Date(`${date},${time}`);
                let curentDateTime = new Date();
                if(date && time && previousDateTime - curentDateTime > 1){
                    $(this).attr({"data-toggle":"modal","data-target" : "#tourModal"}) // Make the button call a modal
                    // An ajax request that will create the schedule
                    $.get("{% url 'app:create_schedule' %}",{date,time,'message':'confirm'},function(data){
                        if(data['isLoggedIn']){
                            $('.modal-body').html(
                                `<p class = 'text-danger small m-auto' id = 'modal-error'></p>
                                <div class="form-group">
                                   <label for="">Name</label>
                                    <input id = 'name' value = "${data['name']}" type="text" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                   <label for="">Mobile Number</label>
                                    <input id = 'mobile-number' value = "${data['contact']}" type="text" pattern="[0-9]+" class="form-control form-control-sm">
                                </div>
                                <button id = 'submit-tour-details' data-dismiss = 'modal' class="btn btn-block schedule-tour mt-3">Submit</button>`
                            );
                            submitTourInfo(true,propId,date,time)// Invoke function
                            if(!scheduleButtonCalled){
                                scheduleButtonCalled = true;
                                $('.schedule-tour').first().click(); // Call the modal
                            }
                        }
                        else{
                            $('.modal-body').html(
                                `<p class = 'text-danger small m-auto' id = 'modal-error'></p>
                                <div class="form-group">
                                   <label for="">Name</label>
                                    <input id = 'name' type="text" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                   <label for="">Email</label>
                                    <input id = 'email' type="email" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                   <label for="">Mobile Number</label>
                                    <input value = "${data['contact']}" id = 'mobile-number' type="text" pattern="[0-9]+" class="form-control form-control-sm">
                                </div>
                                <button  id = 'submit-tour-details' data-dismiss = 'modal' class=" btn btn-block schedule-tour mt-3">Submit</button>`
                            );
                            submitTourInfo(false,propId,date,time)// Invoke function
                            if(!scheduleButtonCalled){
                                scheduleButtonCalled = true;
                                $('.schedule-tour').first().click(); // Call the modal
                            }
                        }
                    },'json')
                }
            });
        }
        
        scheduleTour({{ object.id }})
        
        // A function that notifies a user
        let callNotification = (info) => {
            $('#notification > p').text(info); // Insert the notification text
            $('#notification').css('top','150px'); // Show the notification
            setInterval(function(){
                $('#notification').css('top','-100px') // Hide the notification
            },4000);
        }        
    </script>
{% endblock %}
